<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>jobhunter</title>
      <link rel="stylesheet" href="css/styles5.css">
  </head>
  <body>
    <div class="box">
      <h1>Successfully applied !</h1>
      <p><a href="/home">Click here</a> to go back to go back.</p>
    </div>
  </body>
</html>
