<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles6.css">
    <title>JOBHUNTER</title>
  </head>
  <body>
    <div class="head">
    <div class="container">
      JOBHUNTER
    </div>
    <div class="home">
      <a href="/home">Home</a>
    </div>
      </div>

      <div id ="cont">

        <div class ="cont1a">
      <button class="button"type="submit" name="button"><a href="/apply">SEARCH BY COMPANY.</a></button>
      </div>

      <div class="cont1a">
      <button class="button" type="submit" name="button"><a href="/apply_a">SEARCH BY QUALIFICATION.</a></button>
      </div>

      <div class="cont1a">
      <button class="button" type="submit" name="button"><a href="/apply_b">SEARCH BY SKILL.</a></button>
      </div>




      </div>



  </body>
</html>
