<html>
<head>
<title>jobhunters</title>
<link rel="stylesheet"  href="css/styles.css">
<script src="https://kit.fontawesome.com/2096cafe8c.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
      <div class="logo">
        jobhunter
      </div>
        <ul>
            <li><a href="/home">Home</a></li>

            <li><a href="/admin_login">ADMIN LOGIN</a></li>

        </ul>
    </nav>
</div>

<div id ="cont">

</div>



  <div class ="cont1a">
<button class="button"type="submit" name="button"><a href="/recruiter_register">RECRUITER REGISTER/LOGIN</a></button>

</div>
<div class="cont1a">
<button class="button" type="submit" name="button"><a href="/user_register">USER REGISTER/LOGIN</a></button>


</div>


</div>
<div id="cont3">
    <p class="pg2">Follow us on</p>
    <div class="myicons">
    <i class="icon2 fa-brands fa-youtube"></i>
    <i class="icon2 fa-brands fa-facebook"></i>
    <i class="icon2 fa-brands fa-instagram-square"></i>
    <i class="icon2 fa-brands fa-twitter"></i>
  </div>
  <div class="cont5">
<h5>jobhunters</h5>
  <p class="pg3" >Privacy Policy</p>
  <p class="pg3">Terms of service</p>
  <p class="pg3">Other legal docs</p>
  <p class="pg3">Safe and fair play policy</p>
  </div>
  <div class="cont6">
      <p>Designed by team TITANS © Copyright tendersteps</p>


  </div>
</div>

</body>
</html>
